<% if @trip %>
<% session[:trip_id] = @trip.id %>
  <h2><%= @trip.user.name %>'s Itinerary</h2>
  <h2>You are headed to <%= @trip.location.city%></h2>



  <% if @trip.landmarks.count > 0 %>
    <h3>Landmarks Visiting on Trip</h3>
    <% @trip.trip_landmarks.each do |tl| %>
      <p><%= link_to tl.landmark.name, landmark_path(tl.landmark) %> | <%= link_to "Delete", trip_landmark_path(tl), method: :delete%><br></p>
    <% end %>

    <% else %>
      <h3>No Landmarks Added To Your Trip Yet</h3>

  <% end  %>

  <h3> <%=link_to "Add Landmarks", "/locations/#{@trip.location.id}/landmarks" %></h3>

  <% if @trip.restaurants.count > 0 %>
    <h3>Restaurants Visiting on Trip</h3>
    <% @trip.trip_restaurants.each do |tr| %>
      <p><%= link_to tr.restaurant.name, restaurant_path(tr.restaurant) %> | <%= link_to "Delete", trip_restaurant_path(tr), method: :delete%><br></p>
    <% end %>

    <% else %>
      <h3>No Restaurants Added to Your Trip Yet</h3>
  <% end %>

  <h3> <%=link_to "Add Restaurants", "/locations/#{@trip.location.id}/restaurants" %></h3>

  <h3> <%= link_to "Delete This Trip", @trip, method: "delete", :data => {:confirm => "Delete your trip to #{@trip.location.city}?"} %></h3>
  <h3> <%= link_to "View All my Trips", user_path(@trip.user) %> </h3>

  <% else %>

  <h3>No Trip Found <%= link_to "Create new trip", new_trip_path %></h3>
<% end %>
