<h1>Restaurant#show</h1>

<% if @restaurant %>
  <h1><%= @restaurant.name %></h1>

  <h3><%= @restaurant.cuisine %></h3>

  <%= button_to "Add to my itinerary",  restaurant_path(@restaurant), params: {trip_restaurant: {trip_id: session[:trip_id], restaurant_id: @restaurant.id}}%>
  <h3><%= flash[:added] %></h3>

  <ul>
    <li><%= link_to "View restaurants", "/locations/#{@restaurant.location_id}/restaurants" %></li>
    <li><%= link_to "View more landmarks", "/locations/#{@restaurant.location_id}/landmarks" %></li>
    <li><%= link_to "View itinerary", trip_path(session[:trip_id]) %> </li>
  </ul>
  <% else %>
  <h3>Restaurant not Found</h3>
<% end %>
