
<%= form_tag places_path, method: :get, class: "search-form" do %>
  <%= text_field_tag(:search, params[:search], placeholder: "Search for activity") %>
  <%= button_tag "Find Activities" %>

<% end %>




<% if @places %>
  <% @places.each do |place| %>
    <p><%= "#{place.name} Rating: #{place.rating}"%>
      <%= link_to "Add to Itinerary", custom_path(place.place_id), method: "post"%></p>
  <% end %>
<% end %>


<%= link_to "View My Itinerary",  trip_path(session[:trip_id])%>
