<div id="places-background">

</div>

<div id="places-content">
    <h1 id="place-name"><%= @place.name %></h1>

  <div class="places-text">

    <p id="place-rating">Rated: <%= @place.rating %> Stars.</p>
    <% if @place.description %>
      <div class="place-description">
        <%= @place.description %>
      </div>
      <% end %>

  </div>

  <div class="places-image">

    <% if @place.img_url %>
      <div class="place_image">
        <img src="<%= @place.img_url %>" height="400" width="400">
      </div>
    <% end %>

  </div>


  <div class="button-container">
    <% if @place.phone %>
      <div class="place-phone ui green button">
        <a href="tel:+1<%=@place.phone.gsub(/[-() ]/, '') %>"><%= @place.phone %></a>
      </div>
    <% end %>

    <div class="itinerary-return ui green button">
      <%= link_to "Back to Itinerary", trip_path(session[:trip_id]) %>
    </div>
  </div>

</div>
